/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#map_canvas {
  height:500px;
  width:500px;
}

.tree-index {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

#search {
  margin-top: 30px;
  height: 30px;
  min-width: 100px;
}

#welcome-content {
  font-size: 20px;
  border: 2px solid black;
  width: 90%;
  margin: 0 auto;
  bottom-margin: 15px;
  padding: 10px;
}

.hidden {
  display: none;
}

#info-window-content {
  background-color: #D8F0CF;
  font-family: "Montserrat", sans-serif;
}

#add-tree-button {
  float: right;
  height: 60px;
  width: 150px;
  border-radius: 4px;
  font-size: 15px;
  color: #668dad;

}

#tree-form {
  font-size: 15px;
  background-color: #FBFAF7;

  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

